NET5SignalR/bin/Debug/net5.0/NET5SignalR.dll
NET5SignalR/bin/Debug/net5.0/NET5SignalR.pdb
NET5SignalR/obj/NET5SignalR.csproj.nuget.dgspec.json
NET5SignalR/obj/project.assets.json
NET5SignalR/obj/project.nuget.cache
NET5SignalR/obj/Debug/net5.0/NET5SignalR.assets.cache
NET5SignalR/obj/Debug/net5.0/NET5SignalR.csproj.FileListAbsolute.txt
NET5SignalR/obj/Debug/net5.0/NET5SignalR.dll
NET5SignalR/obj/Debug/net5.0/NET5SignalR.GeneratedMSBuildEditorConfig.editorconfig
NET5SignalR/obj/Debug/net5.0/NET5SignalR.genruntimeconfig.cache
NET5SignalR/obj/Debug/net5.0/NET5SignalR.pdb
NET5SignalR/obj/Debug/net5.0/NET5SignalR.csproj.CopyComplete
NET5SignalR/bin/Debug/net5.0/NET5SignalR.dll
